*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  //   background-color: #000;
  min-height: 100vh;
}

main {
  max-width: 375px;
  background-color: $color-neutral-darkest;
  padding: 3rem 1rem;
  margin: auto;
}

.container {
  width: 100%;
  gap: 1rem;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

@media (min-width: 1200px) {
  main {
    max-width: 1440px;
    width: 100%;
    min-height: 90vh;

    // margin: auto;
  }

  .container {
    max-width: 69.52rem;
    margin: auto;
    grid-template-areas:
      "user work play study"
      "user exercise social selfcare";
    gap: 2rem;
    grid-template-columns: repeat(4, minmax(16rem, 1fr));
    justify-content: center;
  }
}
